h1{
  color: mint green;
  font-size: 3em;
}
h2{
  color: dark green;
  font-size: 2em;
}
h3{
  color: dark brown;
  font-size: 1em;
  font-style: bold;
}
p{
  color: black;
  font-family: comic sans;
}
