h1{
  background-color: #808080;
  color: #00FF80;
  font-size: 2.5em;
  font-family: "arial", times-new-roman;
  font-weight: bold;
  padding: 20px 25px;
}
h2{
  color: #008000;
  font-size: 2em;
  font-family: "arial", times-new-roman;
}
h3{
  color: #008020;
  font-size: 1.5em;
  font-weight: bold;
  font-family: "comic-sans", arial;
}
p{
  color: black;
  font-family: "comic-sans", arial;
  font-weight: bold;
}
q{
  font-family: "sans serif", arial;
  font-style: italic;
}

/* Add a light grey background color to the top navigation */
.topnav {
    background-color: #A0A0A0;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #40B040;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
